name = "delicate-meadow-9436snackfamily2payments"
main = "cloudflare-worker.ts"
compatibility_date = "2025-12-21"

# KV binding used by the Worker
kv_namespaces = [
  { binding = "ORDERS_KV", id = "c62f80a3edde4a458d2f998b3b2306c7", preview_id = "25b6be5bcd734cb7b2b9a360e23fa23e" }
]

[vars]
DEFAULT_ORIGIN = "https://snackfamily2.eu"
[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
